.im1{
widht: 200px;
height: 200px;
margin: 0;
padding: 0;
}

.sec{
margin: 2rem;
}


.addtrack{
border:none;
background-color: red;
color: white;
border-radius: 4%%;
padding: 5px;
}

.addtrack:hover{
    
    -webkit-transform: translateY(-3em) 0.5s ease !important;
    box-shadow: 10px 10px 10px grey;
}